body {
  background: url('/big_boss.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: left;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}