body {
  background: url('src/assets/big_boss.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: white;
}